{% extends "layout2.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Buscar Colonias en el Mapa</title>

    <!-- Leaflet CSS -->
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.awesome-markers/2.0.4/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <style>
        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 10px;
        }

    </style>
</head>

<body>
    <div class="container">x
        <div id="map"></div>
        <div class="search-section">
            <h1>Buscador de Colonias</h1>
            
            <!-- Agrega este botón en tu HTML -->
<button id="route_button">Calcular Ruta</button>

            <br>
            <button id="searchBtn">Buscar</button>
            <div class="search_bar">
                <input type="text" id="search_input" placeholder="Escribe el nombre de la colonia o código postal">
            </div>
            <div id="search_results"></div>
        </div>
    </div>

    <table id="mapTable" class="maping">
 
    </table>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
{% endblock %}
