
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>Side Navigation Bar in HTML CSS JavaScript</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <script src="https://unpkg.com/leaflet-google@latest/leaflet-google.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Leaflet Routing Machine CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
    




  </head>
  <body>

    
    <nav class="navbar">
        <div class="logo_item">
            <i class="bx bx-menu" id="sidebarOpen"></i>
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img/logo-white.png') }}" alt="Logo">
            </a></i>
        </div>
      
      <div class="navbar_content">
        <i class="bi bi-grid"></i>
        <i class='bx bx-sun' id="darkLight"></i>

      </div>
    </nav>
    <nav class="sidebar">
      <div class="menu_content">
        <ul class="menu_items">
          <div class="menu_title menu_dahsboard"></div>
          <li class="item">
            <a href="/" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-map"></i>
              </span>
              <span class="navlink">Mapa</span>
            </a>
          </li>
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-map-alt"></i>
              </span>
              <span class="navlink">Zonas</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>
            <ul class="menu_items submenu">
              <a href="/mapa/1" class="nav_link sublink">Riesgo Bajo</a>
              <a href="/mapa/2" class="nav_link sublink">Riesgo Moderado</a>
              <a href="/mapa/3" class="nav_link sublink">Riesgo Alto</a>
              <a href="/mapa/4" class="nav_link sublink">Riesgo Muy Alto</a>
              <a href="/mapa/5" class="nav_link sublink">todas las Colonias</a>
              
            </ul>
          </li>
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bxl-graphql"></i>
              </span>
              <span class="navlink">Graficas</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>
            <ul class="menu_items submenu">
              <a href="/estadisticas/1" class="nav_link sublink">Nivel de Riesgo<br>
                 por Zona</a>
              <a href="/estadisticas/2" class="nav_link sublink"> Proporción de Zonas en<br>
                 Diferentes Niveles de Riesgo</a>
              <a href="/estadisticas/3" class="nav_link sublink">Histogramas de <br>
                Niveles de Riesgo</a>
            </ul>
          </li>

        </ul>
        <ul class="menu_items">
          <div class="menu_title menu_editor"></div>

          <li class="item">
            <a href="/camara" class="nav_link">
              <span class="navlink_icon">
                <i class="bx bx-camera"></i>
              </span>
              <span class="navlink">Camaras</span>
            </a>
          </li>
          
            
        </ul>
        
          
        
        <div class="bottom_content">
          <div class="bottom expand_sidebar">
            <span> Expand</span>
            <i class='bx bx-log-in' ></i>
          </div>
          <div class="bottom collapse_sidebar">
            <span> Collapse</span>
            <i class='bx bx-log-out'></i>
          </div>
        </div>
      </div>
    </nav>

<div class="main_content">
    {% block content %}
    {% endblock %}
</div>
  

    <script src="{{ url_for('static', filename='js/layout2.js') }}"></script>
    
  
  </body>

</html>